* {
	margin: 0;
	padding: 0;
}

#wapper {
	height: 40px;
	background-color: #e76f25;
	margin: 0 auto;
}

#wapper ul li {
	list-style-type: none;
	width: 130px;
	height: 40px;
	text-align: center;
	margin-right: 40px;
	line-height: 50px;
	float: left;
	transition: 0.5s;
	line-height: 40px;
}


#wapper ul li:hover {
	background-color: wheat;
}

#wapper ul li a {
	font-size: 20px;
	color: black;
	text-decoration: none;
}

#wapper ul li ul li {
	border: solid 1px white;
	background-color: #FFB22D;
	display: none;

}

#wapper ul li:hover ul li {
	display: block;
}

.audio {
	margin-bottom: 400px;
	display: block;
}

.dati {
	background-color: rgba(255, 255, 255, .6);
	opacity: 0.8;
	width: 900px;
	height: 500px;
	margin: 0 auto;
	border: solid darkorange 2px;
}

.datileft {
	width: 300px;
	height: 100%;
	border-right: solid darkorange 2px;

}

.datiright {
	width: 550px;
	height: 100%;
}

.datiright,
.datileft {
	float: left;
}

.datiright ul {
	margin: 0 auto;
}

h1 {
	color: white;
}

.datiright ul li {
	font-size: 30px;
	font-weight: bold;
	width: 158px;
	height: 40px;
	margin-left: 50px;
}

.neir {
	margin-top: 620px;
	width: 1150px;
	height: 600px;
	background-color: rgba(255, 255, 255, .6);
	border-radius: 1.5rem;
	box-shadow: 0 0 1rem 0.2rem rgb(0 0 0 / 20%);
	margin-left: 3%;

}

.neir .left {
	border-radius: 1.5rem;
	width: 35%;
	height: 100%;
	float: left;

}

.neir .right {
	width: 60%;
	height: 100%;
	margin-right: 3px;
	float: right;
	padding: 25px;
	line-height: 32px;
}

p {
	font-family: 宋体;
	font-size: 15px;
}

h2 {
	text-decoration: underline;
}

.bian {
	height: 15px;
	background-color: white;
	margin-top: 6px;
	margin-bottom: 6px;
}


.foot {
	height: 600px;
	margin: 0 auto;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
	width: 30%;
	height: 283px;
	float: left;
	margin-left: 23px;
	margin-top: 9px;
}

.tu {
	width: 350px;
	height: 240px;
	margin-left: 25px;
	border-radius: 150px;
	box-shadow: 3px 5px 20px 3px;
}



body {
	background-image: url("1.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
	background-position: 0px 60px;
	background-color: #FFE99F;
}

h5 {
	float: right;
	margin-bottom: 20px;
	display: block;
}

h1 {
	font-size: xxx-large;
	color: white;
}

h3 {
	color: white;
}

.deng {
	text-decoration: none;
}

p {
	text-indent: 2em;
	line-height: 32px;
}

.tuu {
	text-align: center;
	font: 700 17px 宋体;
}

.v1 {
	float: left;
	border-radius: 1.5rem;
}